{
  "trailingComma":             "es5",
  "semi":                      false,
  "singleQuote":               true,
  "jsxSingleQuote":            true,
  "arrowParens":               "always",
  "printWidth":                100,
  "bracketSameLine":           false,
  "importOrder":               [
    "^expo(.*)$",
    "^react(.*)$",
    "^@my/(.*)$",
    "^app/(.*)$",
    "^ui/(.*)$"
  ],
  "importOrderSeparation":     true,
  "importOrderSortSpecifiers": true,
  "plugins":                   ["@trivago/prettier-plugin-sort-imports"]
}
